<footer class="footer">
  <div class="container footer__container">
    <div class="footer__main">
      <a href="#" class="footer__logo footer-title">Funiro.</a>
      <div class="footer__text">
        Worldwide furniture store since 2020. We sell over 1000+ branded
        products on our website
      </div>
      <div class="footer__contacts contacts-footer">
        <a href="#" class="contacts-footer__item">
          <svg aria-hidden="true">
            <use href="img/sprite.svg#location"></use>
          </svg>
          Sawojajar Malang, Indonesia
        </a>
        <a href="tel:+62894563455" class="contacts-footer__item">
          <svg aria-hidden="true">
            <use href="img/sprite.svg#phone"></use>
          </svg>
          +6289 456 3455
        </a>
        <a
          href="https://www.funiro.com"
          target="_blank"
          rel="noopener"
          class="contacts-footer__item"
          >www.funiro.com</a
        >
      </div>
    </div>
    <div data-spoilers="768,max" class="footer__menu menu-footer">
      <div class="menu-footer__column">
        <button data-spoiler class="menu-footer__title footer-title btn-reset">
          Menu
          <svg aria-hidden="true">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="list-reset menu-footer__list">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Products</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Rooms</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Inspirations</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">About Us</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Terms & Policy</a>
          </li>
        </ul>
      </div>
      <div class="menu-footer__column">
        <button data-spoiler class="menu-footer__title footer-title btn-reset">
          Account
          <svg aria-hidden="true">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="list-reset menu-footer__list">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">My Account</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Checkout</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">My Cart</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">My catalog</a>
          </li>
        </ul>
      </div>
      <div class="menu-footer__column">
        <button data-spoiler class="menu-footer__title footer-title btn-reset">
          Stay Connected
          <svg aria-hidden="true">
            <use href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="list-reset menu-footer__list">
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Facebook</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Instagram</a>
          </li>
          <li class="menu-footer__item">
            <a href="#" class="menu-footer__link">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__subscribe subscribe">
      <div class="subscribe__title footer-title">Stay Updated</div>
      <form class="subscribe__form">
        <label class="subscribe__label">
          <input
            autocomplete="off"
            type="email"
            name="email"
            data-validate-field="email"
            placeholder="Enter your email"
            class="subscribe__input"
          />
          <button class="btn-reset subscribe__btn">
            <svg aria-hidden="true">
              <use href="img/sprite.svg#send"></use>
            </svg>
          </button>
        </label>
      </form>
    </div>
  </div>
</footer>
