// colors
$color-white: #fff;
$color-black: #000;
$color-main: #3a3a3a;
$color-gray: #898989;
$color-dove-gray: #616161;
$color-apricot: #e89f71;
$color-dark-apricot: #be825c;

// width
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
